.App {
  font-family: 'Inter', sans-serif;  
}

.top {
  background-color: #F55A5A;
  color: #FFFFFF;
  display: flex;
}

.card-img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card {
  display: flex;
  
}
