.App {
  margin: 0;
  font-family: 'Inter', sans-serif;  
  font-size: 12px;
  color: #2B283A;
}

.top {
  background-color: #F55A5A;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.top img {
  margin-right: 15px;
}

.card {
  max-width: 70%;
  margin: 50px auto;
  display: flex;
}

.card-img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.card-content {
  margin: 10px 20px;
}

.card--location img,
.card--location span {
  padding-right: 5px;
}

.card--location a {
  color: #918E9B;
}

.card--title {
  font-size: 25px;
  margin: 5px 0 0 0;
}

.card--time {
  font-weight: 700;
}

.card--description {
  line-height: 150%;
}


